.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  transition: 0.3s ease-in-out all;
}
.column {
  display: flex;
  flex-direction: column;
}
.quadrinhos-container {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
}


.quadrinhos-container img {
  max-width: 100%;
}

.creditos {
  background-color: black;
  padding: 15em 0 50vw;
  width: 100%;
}

.creditos h2 {
  margin-top: 5em;
  margin-bottom: 0.4em;
}
.creditos h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.playsom {
  position: fixed;
  z-index: 10;
  top: 2em;
  left: 2em;
  opacity: 0.4;
  cursor: pointer;
}
.playsom:hover {
  opacity: 1;
}
.playsom img {
  max-width: 32px;
}
.playsom span {
  color: #888;
}

.secao {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.botaoonda {
  background-color: transparent;
  border: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.botaoonda img {
  position: absolute;
  width: 100%;
  max-width: none;
  bottom: 0px;
  left: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
