.app {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quadrinhos-container {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}


.quadrinhos-container img {
  max-width: 100%;
}

.secao {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.botaoonda {
  background-color: transparent;
  border: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.botaoonda img {
  position: absolute;
  width: 100%;
  max-width: none;
  bottom: 0px;
  left: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
